extends layout

block content

    div#blocker(style='display: -webkit-box;')
        div#instructions(style='')
            span(style='font-size:40px') Click to play
            p (W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)

    div#message isit320_Yu
        p
            strong CameraX:
                span#cameraX Foo
        p
            strong CameraZ:
                span#cameraZ Foo
        p
            strong MazeX:
                span#mazeX Foo
        p
            strong MazeZ:
                span#mazeZ Foo
        p
            strong Target:
                span#eliminate Foo
        p
            strong Alive:
                span#alive Foo
        p
            strong Dead:
                span#dead Foo
        strong Targets
        ul#npcs