extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    input#input(type="text")

  div
    button.btn.btn-primary.btn-large#feetInMile How many feet are in a mile?
    button.btn.btn-primary.btn-large#feetToMiles Feet to Miles
    button.btn.btn-primary.btn-large#milesToFeet Miles to Feet
    button.btn.btn-primary.btn-large#circle Radius to Circumference

  br
  pre#display