extends layout

block content
  h1= title
  p Welcome to #{title}

  button#read Read
  button#readJson ReadJson
  br
  br
  input#operatorA(value=1)
  br
  input#operatorB(value=2)
  br
  button#add Add

  pre#display
