extends layout

block content
  h1= title
  p Welcome to #{title}

  button.btn.btn-primary#page01 Page 1
  button.btn.btn-primary#page02 Page 2
  button.btn.btn-primary#page03 Page 3

  div
    pre#displayArea
  div
    button.btn.btn-primary#viewPage01 View Page 01 Hits
    button.btn.btn-primary#viewPage02 View Page 01 Hits