doctype html
html(data-ng-app='myModule')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main='javascripts/main.js' src='components/requirejs/require.js' )
  body
    block content